<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    @*<ul class="list-sidebar bg-defoult">
        <li>
            <div class="logo d-flex justify-content-center">
                <img src="https://kvadratsushi.com/rivne/wp-content/uploads/sites/7/2018/12/cropped-sushiPiza.png" alt="">
            </div>
        </li>
        <li class="link"><a class="link">Вся продукція</a></li>
        <li class="divider"></li>
        @{
            foreach (var category in Model)
            {
                <li class="link"><a class="link">   @category.Name</a></li> @*<img src="img/header/nav-icon1.png" alt="">*@


    <ul class="nav side">
        <li>
            <div class="logo d-flex justify-content-center">
                <img src="https://kvadratsushi.com/rivne/wp-content/uploads/sites/7/2018/12/cropped-sushiPiza.png" alt="">
            </div>
        </li>
        <li><a class="link" asp-controller="Products" asp-action="ListProducts" asp-route-category="">Вся продукція</a></li>
        <li class="divider"></li>
        @{
            foreach (var category in Model)
            {
        <li class="link">
            <a a class="link" asp-controller="Products" asp-action="ListProducts"
               asp-route-category="@category.Name">
                @category.Name
            </a>
        </li>
                @*<img src="img/header/nav-icon1.png" alt="">*@ }
        }
    </ul>
</body>
</html>