@model Food_Delivery.View_Models.ChangePasswordViewModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Мій акаунт</title>
    <style>
        span {
            color: red;
        }
    </style>
</head>
<body>
    <form class="register" asp-controller="Account" asp-action="ChangePassword">
        <h1 class="header">Зміть свій пароль</h1>
        <p class="mass">Створіть новий пароль</p>
        <div>
            <label asp-for="Password">Пароль *</label><br />
            <input asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>
        <div>
            <label asp-for="PasswordConfirm">Повторіть пароль *</label><br />
            <input asp-for="PasswordConfirm" />
            <span asp-validation-for="PasswordConfirm"></span>
        </div>
        <div>
            <input type="submit" class="submit" value="Змінити" />
        </div>
    </form>
</body>
</html>

