<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Мій акаунт</title>
    <style>
        span {
            color: red;
        }
    </style>
</head>
<body>
    <form class="register" asp-controller="Account" asp-action="Register">
        <h1 class="header">Реєстрація</h1>
        <p class="mass">Створіть свій власний обліковий запис</p>
        @*<div>
            <label asp-for="Password">Пароль *</label><br />
            <input asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>
        <div>
            <label asp-for="PasswordConfirm">Повторіть пароль *</label><br />
            <input asp-for="PasswordConfirm" />
            <span asp-validation-for="PasswordConfirm"></span>
        </div>
        <div>
            <input type="submit" class="submit" value="Реєстрація" />
        </div>*@
    </form>
</body>
</html>

