@model Food_Delivery.View_Models.ForgotPasswordViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Мій акаунт</title>
    <style>
        span {
            color: red;
        }
    </style>
</head>
<body>
    <form class="forgotpassword" asp-action="ForgotPassword" asp-controller="Account">
        <h1 class="header">Пароль втрачено</h1>
        <p class="mass">Забули пароль? Будь ласка, введіть ваш логін або адресу електронної пошти. Ви отримаєте електронною поштою посилання для створення нового паролю.</p>
        <div class="div-login">
            <label asp-for="Email">Email</label><br />
            <input asp-for="Email" />
            <span asp-validation-for="Email"></span>
       
            </div>
        <div>
            <div>
                <input class="submit" type="submit" value="Send" />
            </div>
        </div>
    </form>
</body>
</html>