<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Views/Category/SideCtegoryStyle.css" asp-append-version="true" />
    <title>ListCars</title>
</head>
<body>
    <div class="nav-wraper">
        <div class="logo d-flex justify-content-center">
            <img src="https://kvadratsushi.com/rivne/wp-content/uploads/sites/7/2018/12/cropped-sushipiza.png" alt="">
            @*<li>
                        <div class="logo d-flex justify-content-center">
                            <img src="https://kvadratsushi.com/rivne/wp-content/uploads/sites/7/2018/12/cropped-sushipiza.png" alt="">
                        </div>
                </li>*@
        </div>
        <div class="navbar">
            <ul class="nav">
                <li class="link"><a class="link">Вся продукція</a></li> @*<img src="img/header/nav-icon1.png" alt="">*@
                @{
                    foreach (Category category in Model.GetCategory)
                    {
                        @await Html.PartialAsync("AllCategories", category);
                    }
                }
            </ul>
        </div>
    </div>
</body>
</html>