@{
    ViewData["Title"] = "Home Page";
}
<div class="buners">
    <div class="smallbuners">
        <div class="baner">
            <img src="https://kvadratsushi.com/rivne/wp-content/uploads/sites/7/2018/07/fish.jpg" />
        </div>
        <div class="baner">
            <img src="https://kvadratsushi.com/rivne/wp-content/uploads/sites/7/2018/07/34.jpg" />
        </div>
    </div>
    <div class="bigbaner">
        <img src="https://kvadratsushi.com/rivne/wp-content/uploads/sites/7/2019/07/cashoo.jpg" />
    </div>
</div>