@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListProducts</title>
</head>
<body>
    <div class="products">
        @{
            foreach (Product product in Model.GetProducts)
            {
                @await Html.PartialAsync("AllProducts", product)

            }
        }
    </div>
</body>
</html>