<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListProducts</title>
</head>
<body>
    @*@{
        foreach(Product product in Model.Get)
        {

        }
        }*@
</body>
</html>
